body{
    background-color: beige;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 900px;
}

.section {
    flex: 0 35%;
    box-sizing: border-box;
}

button{
    font-size: 25px;
    transition-duration: .3s;
    background-color: beige;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pressed {
    background-color: lightgreen;
}

button:hover {
    color: white;
    background-color: gray;
}

.flipContainer, .flipContainer2, .flipContainer3, .flipContainer4 {
    perspective: 1000px;
}

/* top left */
.flipContainer.flipX .flipper{
    transform: rotateY(180deg);
}

.flipContainer.flip-X .flipper{
    transform: rotateY(-180deg);
}

.flipContainer.flipY .flipper{
    transform-origin: 100% 134px;
    transform: rotateX(180deg);
}

.flipContainer.flip-Y .flipper{
    transform-origin: 100% 134px;
    transform: rotateX(-180deg);
}

/* top right */
.flipContainer2.flipX .flipper2{
    transform: rotateY(180deg);
}

.flipContainer2.flip-X .flipper2{
    transform: rotateY(-180deg);
}

.flipContainer2.flipY .flipper2{
    transform-origin: 100% 134px;
    transform: rotateX(180deg);
}

.flipContainer2.flip-Y .flipper2{
    transform-origin: 100% 134px;
    transform: rotateX(-180deg);
}

/* bottom left */
.flipContainer3.flipX .flipper3{
    transform: rotateY(180deg);
}

.flipContainer3.flip-X .flipper3{
    transform: rotateY(-180deg);
}

.flipContainer3.flipY .flipper3{
    transform-origin: 100% 134px;
    transform: rotateX(180deg);
}

.flipContainer3.flip-Y .flipper3{
    transform-origin: 100% 134px;
    transform: rotateX(-180deg);
}

/* bottom right */
.flipContainer4.flipX .flipper4{
    transform: rotateY(180deg);
}

.flipContainer4.flip-X .flipper4{
    transform: rotateY(-180deg);
}

.flipContainer4.flipY .flipper4{
    transform-origin: 100% 134px;
    transform: rotateX(180deg);
}

.flipContainer4.flip-Y .flipper4{
    transform-origin: 100% 134px;
    transform: rotateX(-180deg);
}

.flipContainer, .flipContainer2, .flipContainer3, .flipContainer4,  
.front, .back {
    width: 300px;
    height: 268px;
}

.flipper, .flipper2, .flipper3, .flipper4 {
    transition-duration: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 2rem;
}

.front {
    z-index: 2;
    background-color: grey;
}

.back {
    font-family: "Gill Sans", sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    background: linear-gradient(lightblue 0%, rgb(248, 76, 76) 100%);
}

.newImageButton{
    font-size: 20px;
    transition-duration: .3s;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.newImageButton:hover{
    background-color: green;
}



